body{
  font-family: Verdana,sans-serif;
  font-size: 0.9em;
}

header{
  padding: 10px;
  color: sandybrown;
  background-color: antiquewhite;
  text-align: center;
}

section{
  margin: 5px;
  padding: 10px;
  background-color: lightslategray;
  width: 1365px;
  position: relative;
  float: left;
}

article {
  margin : 5px;
  padding: 10px;
  background-color: wheat;
  height: 400px;
  width: 420px;
  float: left;
}

article1 {
  margin : 5px;
  padding: 10px;
  background-color: wheat;
  height: 400px;
  width: 435px;
  float: left;
}

aside {
  margin: 5px;
  padding: 10px;
  background-color: coral;
  height: 400px;
  width: 420px ;
  float: right;

}

nav ul{
  padding-top: 30px;
  text-align: center;
  background-color: #b3d4fc;
  height: 50px;
}

nav ul li{
  display: inline;
  height: 70px;
  width: 50px;
}

footer{
  height: 50px;
  clear: both;
  background-color: coral;
  text-align: center;
  padding-top: 8px;
}
